.form-container {
  .fa-user {
    font-size: 48px;
    margin: 20px auto 20px auto;
    display: block;
    text-align: center;
  }
  form {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 30px;
  }
  header {
    display: block;
    font-size: 20px;
    background: #ececec;
    padding: 8px 30px;
    text-align: left;
  }
  .form-group{
    margin-bottom: 20px;
  }
  .submit {
    margin-right: 5px;
      i {
        margin-right: 2px;
      }
      a {
        margin-left: 5px;
    }

  }
}
