.settings-form-container {
  
  .form-group{
    margin-bottom: 20px;
  }
  .submit {
    margin-right: 5px;
      i {
        margin-right: 2px;
      }
      a {
        margin-left: 5px;
    }

  }
}
