.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}
.header {
  min-height: 65px;
  padding-top: 10px;
  font-size: 1em;
}
.header-profile-img {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
